@charset "UTF-8";
@import "SUIT/SUIT.css";
@import "SUIT/SUIT.css";
* {
  font-size: 62.5%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

*[hidden] {
  display: none;
}

body {
  line-height: 1;
  width: 100%;
  min-height: 50rem;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: none;
}
@media (min-width: 601px) and (max-width: 767px) {
  body {
    height: 100%;
  }
}
@media (max-width: 600px) {
  body {
    height: 100%;
  }
}

#content {
  width: 48rem;
  overflow: hidden;
  height: 70dvh;
  position: relative;
  min-height: 76rem;
  transition: all 0.6s cubic-bezier(0.56, 0, 0.07, 1.01);
}
@media (min-width: 601px) and (max-width: 767px) {
  #content {
    height: 100dvh;
    width: 100%;
    min-height: 60rem;
  }
}
@media (max-width: 600px) {
  #content {
    height: 100dvh;
    width: 100%;
    min-height: 55rem;
  }
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 포커스 s */
:focus {
  outline: 3px solid #9E8E81;
}

:focus:not(:focus-visible) {
  outline: 0;
}

select:focus {
  border: 1px solid var(--color-b-04);
}

input[type=checkbox]:focus {
  outline: 3px solid #9E8E81;
}

input[type=checkbox]:focus:not(:focus-visible) {
  outline: 0;
}

input[type=radio]:focus {
  outline: 3px solid #9E8E81;
}

input[type=radio]:focus:not(:focus-visible) {
  outline: 0;
}

textarea:focus {
  outline: 3px solid #9E8E81;
}

textarea:focus:not(:focus-visible) {
  outline: 0;
}

/* 포커스 e */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: rgba(241, 241, 241, 0);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.862745098);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.5764705882);
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

button {
  font-family: "NanumSquare";
  cursor: pointer;
  border: none;
}

.blind {
  overflow: hidden !important;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  color: transparent !important;
  clip: rect(0px, 0px, 0px, 0px) !important;
}

.title {
  font-family: "NanumMyeongjo";
}
.title span {
  font-size: 2.4rem;
  color: #544D47;
  line-height: 3.5rem;
  font-weight: 700;
}

.m-sub {
  font-family: "NanumMyeongjo";
  font-size: 1.4rem;
  color: #544D47;
  font-weight: 500;
  transition: all 0.4s cubic-bezier(0.56, 0, 0.07, 1.01);
}

.m-sub-13 {
  font-family: "NanumMyeongjo";
  font-size: 1.3rem;
  color: #544D47;
  font-weight: 500;
}

.s-title {
  font-size: 2.4rem;
  font-weight: 500;
  color: #544D47;
  text-align: center;
  font-family: "Noto Serif KR";
}

.txt-box {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
}

.s-13 {
  font-size: 1.3rem;
  color: #fff;
  font-weight: 300;
  text-align: center;
  line-height: 1.8;
  font-family: "NanumSquare";
}

.s-15 {
  font-size: 1.5rem;
  color: #000;
  font-weight: 700;
  align-items: center;
  font-family: "NanumMyeongjo";
}

.s-14 {
  font-size: 1.4rem;
  color: #544D47;
  font-weight: 300;
  line-height: 1.8;
  text-align: center;
  font-family: "NanumMyeongjo";
}

.f-s-13 {
  font-size: 1.3rem;
  color: #000;
  font-weight: 300;
  align-items: center;
  font-family: "NanumMyeongjo";
}

.f-16 {
  font-size: 1.6rem;
  color: #544D47;
  font-weight: 500;
  text-align: center;
  font-family: "NanumMyeongjo";
}

.button {
  font-size: 1.6rem;
  font-weight: 500;
  width: calc(100% - 3.2rem);
  position: absolute;
  bottom: 2rem;
  border: none;
  height: 5rem;
  left: 1.6rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.button.brown {
  background-color: #9E8E81;
}
.button.pink {
  background-color: #D89B9B;
}
.button.blue {
  background-color: #98B8D8;
}
.button.orange {
  background-color: #F2B05B;
}
.button.snowblue {
  background-color: #9DC0C4;
}

.submit {
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9rem;
  height: 4rem;
  transform: scale(0.5);
  opacity: 0;
}

.submit.spring {
  background-color: #D89B9B;
}
.submit.summer {
  background-color: #98B8D8;
}
.submit.autumn {
  background-color: #F2B05B;
}
.submit.winter {
  background-color: #9DC0C4;
}

.reset {
  width: 3.6rem;
  border-radius: 10rem;
  height: 3.6rem;
  position: absolute;
  top: 1.6rem;
  left: 1.6rem;
  z-index: 10;
  background: #E0D9D4 url("../image/icon/reset.png") 50% 50%/50% no-repeat;
}

.back {
  background: url("../image/icon/arrow.png") 50% 50%/2rem no-repeat;
  height: 2rem;
  width: 2rem;
  padding: 1rem;
  box-sizing: initial;
  transform: scale(0.5);
  opacity: 0;
}
.back:hover {
  background: rgba(217, 217, 217, 0.4) url("../image/icon/arrow.png") 50% 50%/1.8rem no-repeat;
  transform: scale(0.98);
  border-radius: 0.5rem;
}

.navigation {
  background: #151515;
  width: 100%;
  z-index: 10;
  height: 9rem;
  transform: translateY(9rem);
}
.navigation ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: min(5vw - 1rem, 3rem);
}
.navigation ul li {
  display: flex;
  flex-wrap: wrap;
  opacity: 0;
  transform: translateY(1rem);
}
.navigation button.nav {
  height: 5rem;
  width: 5rem;
  border-radius: 1rem;
  background: inherit;
  transition: all 0.4s cubic-bezier(0.56, 0, 0.07, 1.01);
}
.navigation button.nav:hover {
  background: #292929;
}
.navigation button.nav:hover {
  transform: scale(0.92);
}
.navigation button.nav svg {
  width: 2.6rem;
  height: 2.6rem;
}
.navigation button.nav .fill {
  fill: #949494;
  transition: all 0.4s cubic-bezier(0.56, 0, 0.07, 1.01);
}
.navigation button.nav .stroke {
  stroke: #949494;
  transition: all 0.4s cubic-bezier(0.56, 0, 0.07, 1.01);
}
.navigation button.nav.on {
  background: #292929;
}
.navigation button.nav.on .fill {
  fill: #fff;
}
.navigation button.nav.on .stroke {
  stroke: #fff;
}
.navigation button.nav.on.sp .stroke {
  stroke: #D89B9B;
}
.navigation button.nav.on.su .stroke {
  stroke: #98B8D8;
}
.navigation button.nav.on.au .stroke {
  stroke: #F2B05B;
}
.navigation button.nav.on.wi .stroke {
  stroke: #9DC0C4;
}

.f-button {
  font-family: "NanumSquare";
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  font-size: 1.4rem;
  color: #544D47;
  font-weight: 500;
  transition: all 0.4s cubic-bezier(0.56, 0, 0.07, 1.01);
  background: initial;
  color: #fff;
  padding: 1rem 0;
  width: 100%;
}
.f-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}
.f-twist {
  font-family: "NanumSquare";
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  font-size: 1.4rem;
  color: #544D47;
  font-weight: 500;
  transition: all 0.4s cubic-bezier(0.56, 0, 0.07, 1.01);
  background: initial;
  color: #fff;
  padding: 1rem 0;
  width: 100%;
}
.f-twist:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.close {
  width: 2.6rem;
  height: 2.6rem;
  position: relative;
  float: right;
  transition: all 0.2s cubic-bezier(0.56, 0, 0.07, 1.01);
}
.close::before {
  position: absolute;
  content: "";
  width: 1.8rem;
  height: 0.1rem;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
  background: #5D4743;
}
.close::after {
  position: absolute;
  content: "";
  left: 0;
  width: 1.8rem;
  height: 0.1rem;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  background: #5D4743;
}
.close:hover {
  background: rgba(217, 217, 217, 0.4);
  transform: scale(0.98);
  border-radius: 0.5rem;
}

.gobutton {
  font-family: "NanumSquare";
  font-size: 1.3rem;
  color: #fff;
  border-radius: 1rem;
  background: #9E8E81;
  height: 3.5rem;
  width: 100%;
  transition: all 0.4s cubic-bezier(0.56, 0, 0.07, 1.01);
}

.last-btn {
  font-size: 1.6rem;
  font-weight: 500;
  position: absolute;
  bottom: 2rem;
  width: calc(100% - 3.2rem);
  border: none;
  height: 5rem;
  left: 1.6rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: all 0.4s cubic-bezier(0.56, 0, 0.07, 1.01);
  gap: 0.8rem;
}
.last-btn button {
  color: #fff;
  font-size: 1.6rem;
  border-radius: 1rem;
  height: 5rem;
}

.first {
  font-size: 1.6rem;
  color: #544D47;
  font-weight: 500;
  background: initial;
  display: none;
  opacity: 0;
  transform: scale(0.5);
}
.first.on {
  display: block;
}

.popup {
  width: 100%;
  background: rgba(0, 0, 0, 0);
  -webkit-backdrop-filter: blur(1.7rem) brightness(0.5);
          backdrop-filter: blur(1.7rem) brightness(0.5);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  position: absolute;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem;
  z-index: 5;
  visibility: hidden;
  gap: 1rem;
  box-sizing: border-box;
  transition: all 0.8s cubic-bezier(0.43, 0, 0, 1.02);
  bottom: -60rem;
  left: 0;
}
.popup.on {
  bottom: 9rem;
  pointer-events: all;
  visibility: visible;
  transition: all 0.8s cubic-bezier(0.43, 0, 0, 1.02);
}
.popup.object {
  max-height: 50%;
  min-height: 40%;
}
.popup.object .buttonbox {
  width: 100%;
}
.popup ul {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.8rem;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  width: 100%;
}
.popup ul li {
  height: 100%;
  transition: all 0.4s cubic-bezier(0.56, 0, 0.07, 1.01);
  aspect-ratio: 1/1;
}
.popup ul li:hover {
  transform: scale(0.98);
}
.popup ul li .p-btn {
  background: rgba(255, 255, 255, 0.3);
  flex: 1;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}
.popup ul li img {
  height: 70%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: all 0.4s cubic-bezier(0.56, 0, 0.07, 1.01);
  pointer-events: none;
}
.popup ul li img.rotated {
  transform: scaleX(-1);
}
.popup ul li img.allow-click {
  pointer-events: auto;
}
.popup .scroll {
  width: 100%;
  height: 3.2rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: initial;
  border: none;
}
.popup .scroll .scroll-bar {
  width: 6rem;
  background: #D9D9D9;
  border: none;
  border-radius: 10rem;
  position: relative;
}
.popup .scroll .scroll-bar::before {
  content: "";
  border-bottom: 2px solid rgba(255, 255, 255, 0.6509803922);
  border-right: 2px solid rgba(255, 255, 255, 0.6509803922);
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%) rotate(45deg);
  border-radius: 0 2px 2px 2px;
}

.infor {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1.6rem;
  box-sizing: border-box;
  gap: 0.8rem;
  transition: all 0.6s cubic-bezier(0.56, 0, 0.07, 1.01);
  z-index: 100;
  opacity: 0;
}
.infor.on {
  visibility: visible;
  opacity: 1;
}
.infor.on .infor-wrap {
  transform: translateY(0) scale(1);
  opacity: 1;
}
.infor.on .digital {
  opacity: 1;
  transform: translateY(0);
}
.infor-wrap {
  background-color: #EDEDED;
  border-radius: 1rem;
  padding: 1.6rem;
  transform: translateY(30px) scale(0.8);
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.56, 0, 0.07, 1.01);
}
.infor-wrap .slider-list .swiper-slide {
  height: min(15vw, 15rem);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 0.6rem;
  box-sizing: border-box;
  border-radius: 1rem;
  border: 1px solid #fff;
  aspect-ratio: 1/1;
}
.infor-wrap .slider-list img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.infor-wrap .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.4s cubic-bezier(0.56, 0, 0.07, 1.01);
  gap: 1rem;
}
.infor-wrap .swiper-slide-thumb-active {
  border: 1px solid #9E8E81 !important;
}
.infor-wrap .swiper-horizontal {
  cursor: grab;
  width: 100%;
}
.infor-wrap .slider .swiper-slide {
  padding-bottom: 2.6rem;
  height: min(50vw, 30rem);
}
.infor-wrap .slider img {
  width: 100%;
  height: 70%;
  -o-object-fit: contain;
     object-fit: contain;
}
.infor .digital {
  background: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(1.5rem);
          backdrop-filter: blur(1.5rem);
  padding: 1.6rem;
  border-radius: 1rem;
  border: 1px solid rgba(217, 217, 217, 0.4);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  transition: all 0.6s cubic-bezier(0.56, 0, 0.07, 1.01);
  opacity: 0;
  transform: translateY(30px);
}

.palette {
  width: 100%;
}
.palette ul {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2.4rem;
}
.palette ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.palette button {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 10rem;
  transition: all 0.2s cubic-bezier(0.56, 0, 0.07, 1.01);
  border: 1px solid #fff;
}
.palette button:hover {
  border: 2px solid rgba(0, 0, 0, 0.5);
}
.palette .b-4 {
  background: #D9D9D9;
  position: relative;
  border: 1px solid #fff;
}
.palette .b-4::before {
  content: "";
  display: block;
  position: absolute;
  width: 3.4rem;
  height: 0.1rem;
  background: #fff;
  left: 0;
  transform: rotate(-45deg);
  transition: all 0.2s cubic-bezier(0.56, 0, 0.07, 1.01);
}
.palette .b-4::after {
  content: "";
  display: block;
  position: absolute;
  width: 3.4rem;
  height: 0.1rem;
  background: #fff;
  left: -0.1rem;
  transform: rotate(45deg);
  transition: all 0.2s cubic-bezier(0.56, 0, 0.07, 1.01);
}
.palette .b-4:hover::after {
  width: 3rem;
  left: 0rem;
}
.palette .b-4:hover::before {
  width: 3rem;
  left: 0.1rem;
}
.palette.spring .b-1 {
  background: #FFD7DE;
}
.palette.spring .b-2 {
  background: #FFE4C4;
}
.palette.spring .b-3 {
  background: #FCFFC8;
}
.palette.summer .b-1 {
  background: #E4FFFF;
}
.palette.summer .b-2 {
  background: #DAE7FF;
}
.palette.summer .b-3 {
  background: #E6F5FF;
}
.palette.autumn .b-1 {
  background: #FFD5B2;
}
.palette.autumn .b-2 {
  background: #FFF1CC;
}
.palette.autumn .b-3 {
  background: #FFFFFF;
}
.palette.winter .b-1 {
  background: #E7FDF7;
}
.palette.winter .b-2 {
  background: #EEF9FF;
}
.palette.winter .b-3 {
  background: #DCE2F6;
}

.textfield {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  display: none;
  z-index: 100;
}
.textfield.on {
  display: block;
}
.textfield .text {
  font-family: "NanumMyeongjo";
  font-size: 1.4rem;
  color: #544D47;
  font-weight: 500;
  transition: all 0.4s cubic-bezier(0.56, 0, 0.07, 1.01);
  font-size: 1.6rem;
  width: 15rem;
  border: initial;
  background: initial;
  text-align: center;
  touch-action: manipulation;
  color: #5D4743;
  resize: none;
  line-height: 3rem;
  height: 3rem;
  min-height: 3rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 1.6rem 0;
}/*# sourceMappingURL=common.css.map */