@import "variable";

* {
    font-size:62.5%;
}

// default s
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
*[hidden] {
    display: none;
}
body {
	line-height: 1;
    max-width: 102.4rem;
    margin: 0 auto;
}
menu, ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 포커스 s */

:focus {
    outline: 3px solid map-get($color, c-brown);
}
 
:focus:not(:focus-visible) {
    outline: 0;
}

select:focus {
	border: 1px solid var(--color-b-04);
}

input[type="checkbox"]:focus {
    outline: 3px solid map-get($color, c-brown);
}
 
input[type="checkbox"]:focus:not(:focus-visible) {
    outline: 0;
}

input[type="radio"]:focus {
    outline: 3px solid map-get($color, c-brown);
}
 
input[type="radio"]:focus:not(:focus-visible) {
    outline: 0;
}

textarea:focus {
    outline: 3px solid map-get($color, c-brown);
}
 
textarea:focus:not(:focus-visible) {
    outline: 0;
}

/* 포커스 e */

button {
    cursor: pointer;
    border: none;
}

.blind {
    overflow: hidden !important;
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    color: transparent !important;
    clip: rect(0px, 0px, 0px, 0px) !important;
}
// default e

// text
.title {
    @include Nanummyeongjo;
    @include font-title;
}
.m-sub {
    @include Nanummyeongjo;
    @include m-sub;
}
.m-sub-13 {
    @include Nanummyeongjo;
    @include m-sub-13;
}
.s-title {
    @include s-title;
    @include NotoSans;
}
.txt-box {
    @include txt-box;
}

// bar button
%barButton {
    @include bar-button;
    @include NanumSquare;
    &:hover {
        transform: scale(.98)
    }
}
.button {
    @extend %barButton;
    &.brown {
        background-color: map-get($color, c-brown);
    }
    &.pink {
        background-color: map-get($color, c-pink);
    }
    &.orange {
        background-color: map-get($color, c-orange);
    }
    &.snowblue {
        background-color: map-get($color, c-snowblue);
    }
}
// submit button
%submitButton {
    @include submit-button;
    @include NanumSquare;
    &:hover {
        transform: scale(.98)
    }
}
.submit {
    @extend %submitButton;
}

// reset button
%resetButton {
    @include reset-button;
    &:hover {
        transform: scale(.98)
    }
}
.reset {
    @extend %resetButton;
}

// back button
.back {
    background: url($icon-img + "arrow.png") 50% 50% / 2.0rem no-repeat;
    height: 2.0rem;
    width: 2.0rem;
    padding: 1.0rem;
    box-sizing: initial;
}

// nav button
.navigation {
    background: map-get($color, footer-nav);
    width: 100%;
    height: 9rem;
    ul {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: min(5vw - 1rem, 8rem);
        li {
            display: flex;
            flex-wrap: wrap;
        }
    }
    button {
        @include navbutton;
        svg {
            width: 3.0rem;
            height: 3.0rem;
        }
        .fill {
            fill: map-get($color, footer-icon);
        }
        .stroke {
            stroke: map-get($color, footer-icon);
        }
    }
}
