@import "SUIT/SUIT.css";
.content_one {
  height: 100dvh;
  position: relative;
  min-height: 50rem;
  width: 100%;
  text-align: center;
  background: url("../image/main/visaul_bg.jpg") 50% 50%/cover no-repeat;
}
.content_one .visual {
  height: calc(100% - 7rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.content_one .visual .visaul_img {
  background: url("../image/main/main.png") 50% 50%/contain no-repeat;
  height: 38.6rem;
  width: 100%;
  flex: 0.75;
}
.content_one .visual .txt-box {
  margin-top: 2.6rem;
}

.select {
  background: #EDEDED;
  height: 100dvh;
  position: relative;
  min-height: 50rem;
}
.select .selectbox {
  height: calc(100% - 7rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vh;
}
.select .swiper {
  width: 100%;
  height: 50vh;
  min-height: 38rem;
  padding-bottom: 5rem;
}
.select .swiper-slide {
  width: 30rem;
  height: 50vh;
  min-height: 38rem;
  padding: 2.5rem;
  position: relative;
  box-sizing: border-box;
  transform: translateY(30px) !important;
  border-radius: 1rem;
  background: url("../image/main/visaul_bg.jpg") 50% 50%/cover no-repeat;
}
.select .swiper-slide .img-list {
  height: calc(100% - 5rem);
  flex: 1;
}
.select .swiper-slide button {
  width: 100%;
  height: 100%;
  background: initial;
}
.select .swiper-slide-active {
  transform: translateY(0) !important;
  width: 30rem;
  height: 50vh;
  min-height: 38rem;
  transition: all 0.4s cubic-bezier(0.56, 0, 0.07, 1.01);
}
.select .swiper-slide-active.spring {
  box-shadow: 0 6px 20px rgba(226, 207, 207, 0.6);
}
.select .swiper-slide-active.summer {
  box-shadow: 0 6px 20px rgba(210, 220, 233, 0.6);
}
.select .swiper-slide-active.autumn {
  box-shadow: 0 6px 20px rgba(203, 172, 137, 0.25);
}
.select .swiper-slide-active.winter {
  box-shadow: 0 6px 20px rgba(216, 233, 236, 0.6);
}
.select .swiper-pagination-bullet {
  width: 1rem;
  height: 1rem;
}
.select .swiper-pagination-bullet-active {
  transition: all 0.4s cubic-bezier(0.56, 0, 0.07, 1.01);
  background: #5D4743;
}

.deco {
  background: #EDEDED;
  height: 100dvh;
  position: relative;
  min-height: 50rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.deco .deco-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 1.6rem 0;
}
.deco .deco-box {
  margin: 0 1.6rem;
  box-sizing: border-box;
  border-radius: 1.4rem;
  flex: 1;
  padding: 1rem;
  position: relative;
}
.deco .deco-box.spring {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgba(255, 227, 227, 0.6823529412) 100%), url("../image/main/visaul_bg.jpg") 50% 50%/cover no-repeat;
}
.deco .deco-box.summer {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgba(227, 244, 255, 0.6823529412) 100%), url("../image/main/visaul_bg.jpg") 50% 50%/cover no-repeat;
}
.deco .deco-box.autumn {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgba(255, 238, 220, 0.6823529412) 100%), url("../image/main/visaul_bg.jpg") 50% 50%/cover no-repeat;
}
.deco .deco-box.winter {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgba(216, 230, 232, 0.6823529412) 100%), url("../image/main/visaul_bg.jpg") 50% 50%/cover no-repeat;
}
.deco .deco-box .deco-txt {
  font-family: "NanumMyeongjo";
  font-size: 1.4rem;
  color: #544D47;
  font-weight: 500;
  transition: all 0.4s cubic-bezier(0.56, 0, 0.07, 1.01);
  line-height: 1.8;
  text-align: center;
  color: #9E8E81;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
}/*# sourceMappingURL=style.css.map */