@import "variable";

// first html s
.content_one {
    @include common;
    position: relative;
    width: 100%;
    text-align: center;
    background: url($main-bg-img + "visaul_bg.jpg") 50% 50% / cover no-repeat;
    
    .visual {
        @include height;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2.0rem;
        
        .visaul_img {
            background: url($main-bg-img + "main.png") 50% 50% / contain no-repeat;
            height: 38.6rem;
            width: 100%;
            flex: .75;
        }
        
        .txt-box {
            margin-top: 2.6rem;
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
        }
    }
}
// first html e


// select html s

// select html e

