@import "variable";
@import "mixin";

// first html s
.content_one {
    width: 100%;
    height: 100%;
    text-align: center;
    background: url($main-bg-img + "visaul_bg.jpg") 50% 50% / cover no-repeat;

    .visual {
        @include height;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2.0rem;

        .visaul_img {
            background: url($main-bg-img + "main.png") 50% 50% / contain no-repeat;
            height: 38.6rem;
            width: 100%;
            flex: .75;
        }

        .txt-box {
            margin-top: 2.6rem;
        }
    }
}

// first html e


// select html s
.select {
    @include bg;
    height: 100%;
    .selectbox {
        @include height;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5vh;
    }

    .swiper {
        width: 100%;
        height: 50.0vh;
        min-height: 38.0rem;
        padding-bottom: 5.0rem;

        &-slide {
            width: 30.0rem;
            height: 50.0vh;
            min-height: 38.0rem;
            padding: 2.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            box-sizing: border-box;
            transform: translateY(30px) !important;
            border-radius: map-get($boder-radius, b-10);
            background: url($main-bg-img + "visaul_bg.jpg") 50% 50% / cover no-repeat;

            .img-list {
                width: 100%;
                flex: .9;
            }

            &.spring {
                .img-list {
                    background: url($main-bg-img + "spring_banner.png") 50% 50% / contain no-repeat;
                }
            }

            &.summer {
                .img-list {
                    background: url($main-bg-img + "summer_banner.png") 50% 50% / contain no-repeat;
                }
            }

            &.autumn {
                .img-list {
                    background: url($main-bg-img + "autumn_banner.png") 50% 50% / contain no-repeat;
                }
            }

            &.winter {
                .img-list {
                    background: url($main-bg-img + "winter_banner.png") 50% 50% / contain no-repeat;
                }
            }
        }

        &-slide-active {
            transform: translateY(0) !important;
            width: 30.0rem;
            height: 50.0vh;
            min-height: 38.0rem;
            transition: map-get($ease, ease-in-out-6);

            // margin-top: 0rem;
            &.spring {
                box-shadow: 0 6px 20px rgba(226, 207, 207, 0.6);
            }

            &.summer {
                box-shadow: 0 6px 20px rgba(210, 220, 233, 0.6);
            }

            &.autumn {
                box-shadow: 0 6px 20px rgba(203, 172, 137, 0.25);
            }

            &.winter {
                box-shadow: 0 6px 20px rgba(216, 233, 236, 0.6);
            }
        }

        &-pagination-bullet {
            width: 1.0rem;
            height: 1.0rem;
        }

        &-pagination-bullet-active {
            transition: map-get($ease, ease-in-out-4);
            background: map-get($color, nav-slider-btn);
        }


    }

}
// select html e


// deco html s
.deco {
    @include bg;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    position: relative;

    &-box {
        margin: 0 1.6rem;
        box-sizing: border-box;
        border-radius: map-get($boder-radius, b-14);
        flex: 1;
        padding: 1.0rem;
        position: relative;
        transition: map-get($ease, ease-in-out-4);
        &.spring {
            background: map-get($color, liner-pink), url($main-bg-img + "visaul_bg.jpg") 50% 50% / cover no-repeat;

        }

        &.summer {
            background: map-get($color, liner-blue), url($main-bg-img + "visaul_bg.jpg") 50% 50% / cover no-repeat;

        }

        &.autumn {
            background: map-get($color, liner-orange), url($main-bg-img + "visaul_bg.jpg") 50% 50% / cover no-repeat;

        }

        &.winter {
            background: map-get($color, liner-snowblue), url($main-bg-img + "visaul_bg.jpg") 50% 50% / cover no-repeat;

        }

        .deco-txt {
            @include Nanummyeongjo;
            @include txt-deco;
            color: map-get($color, txt-sub);
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            position: absolute;
            width: 100%;
            // 잠시 오프
            visibility: hidden;
        }
    }
    .composition {
        position: relative;
        width: 100%;
        box-sizing: border-box;
        top:0;
        height: calc(100% - 18px);
    }
    .draggable-container {
        position: absolute;
        // padding:1.0rem;
        cursor: move;
        padding: 1.0rem;
        user-select: none;
        img {
            &.rotated {
                transform: scaleX(-1);
            }
        }
    }
    .drag-handle {
        position: absolute;
        top: -12px;
        right: -12px;
        cursor: move;
        z-index: 1;
        background: #DCD0C6;
        padding: .5rem;
        border-radius: map-get($boder-radius, b-100);
    }
}

// deco html e


// last html s
.last {
    height: 100%;

    // end page s
    &.white {
        @include bg;

        .company-page {
            display: none;
        }

        .ending {
            height: 100%;
            display: block;

            .last-content {
                display: flex;
                flex-direction: column;
                gap: 1.4rem;
                align-items: center;
                justify-content: center;
                height: calc(100% - 12.6rem);
            }

            .card {
                width: calc(100% - 13.0rem);
                background: url($main-bg-img + "visaul_bg.jpg") 50% 50% / cover no-repeat;
                margin: 0 auto;
                border-radius: map-get($boder-radius , b-14);
                box-shadow: map-get($shadow, shadow-15);
                height: calc(100% - 14.0rem);
                position: relative;
                padding: 1rem;

                p {
                    position: absolute;
                    left: 50%;
                    top: 3rem;
                    transform: translate(-50%, 0);
                    cursor: default;
                }
                .card-visual {
                    width: 100%;
                    height: 100%;
                }
            }

            .last-btn {
                .share {
                    flex: .5rem;
                    background: map-get($color, c-brown);
                }

                .solvek {
                    flex: .5rem;
                    background: map-get($color, txt-main);
                }
            }
        }
    }

    // end page e

    // company page s
    &.black {
        background: map-get($color, ending-bg);

        .ending {
            display: none;
        }

        .first {
            color: map-get($color , c-white);
        }
        .header {
            background: map-get($color, c-black);
        }
        .back {
            background: url($icon-img + "arrow_w.png") 50% 50% / 2.0rem no-repeat;
        }

        .company-page {
            display: flex;
            flex-direction: column;
            height: calc(100% - 12.6rem);
            padding-top: 1.6rem;
            box-sizing: border-box;
            background: map-get($color, c-black);
            .video {
                min-height: 30.0rem;
                height: 40vh;
                video {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .hompage {
                flex:1;
                padding: 0 1.6rem;
                box-sizing: border-box;
                .txt-box {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 1.6rem;
                }
            }

            .infortxt {
                p {
                    color:map-get($color , c-white);
                    font-size: map-get($font-size, f-14);
                    font-family: map-get($font, font-NanumSquare);
                    line-height: 3.0rem;
                    text-align: center;
                    text-transform: uppercase;
                }
            }
            .button {
                background-color: map-get($color, c-brown);
            }
        }

    }

    // company page s

    .f-16 {
        line-height: 1.8;
    }

}

// last html 