@import "SUIT/SUIT.css";
.content_one {
  height: 100dvh;
  position: relative;
  min-height: 50rem;
  width: 100%;
  text-align: center;
  background: url("../image/main/visaul_bg.jpg") 50% 50%/cover no-repeat;
}
.content_one .visual {
  height: calc(100% - 7rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.content_one .visual .visaul_img {
  background: url("../image/main/main.png") 50% 50%/contain no-repeat;
  height: 38.6rem;
  width: 100%;
  flex: 0.75;
}
.content_one .visual .txt-box {
  margin-top: 2.6rem;
}

.select {
  background: #EDEDED;
  height: 100dvh;
  position: relative;
  min-height: 50rem;
}
.select .selectbox {
  height: calc(100% - 7rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vh;
}
.select .swiper {
  width: 100%;
  height: 50vh;
  min-height: 38rem;
  padding-bottom: 5rem;
}
.select .swiper-slide {
  width: 30rem;
  height: 50vh;
  min-height: 38rem;
  padding: 2.5rem;
  position: relative;
  box-sizing: border-box;
  transform: translateY(30px) !important;
  border-radius: 1rem;
  background: url("../image/main/visaul_bg.jpg") 50% 50%/cover no-repeat;
}
.select .swiper-slide .img-list {
  height: calc(100% - 7rem);
  flex: 1;
}
.select .swiper-slide button {
  width: 100%;
  height: 100%;
  background: initial;
}
.select .swiper-slide.spring .img-list {
  background: url("../image/main/spring_banner.png") 50% 50%/contain no-repeat;
}
.select .swiper-slide.summer .img-list {
  background: url("../image/main/summer_banner.png") 50% 50%/contain no-repeat;
}
.select .swiper-slide.autumn .img-list {
  background: url("../image/main/autumn_banner.png") 50% 50%/contain no-repeat;
}
.select .swiper-slide.winter .img-list {
  background: url("../image/main/winter_banner.png") 50% 50%/contain no-repeat;
}
.select .swiper-slide-active {
  transform: translateY(0) !important;
  width: 30rem;
  height: 50vh;
  min-height: 38rem;
  transition: all 0.4s cubic-bezier(0.56, 0, 0.07, 1.01);
}
.select .swiper-slide-active.spring {
  box-shadow: 0 6px 20px rgba(226, 207, 207, 0.6);
}
.select .swiper-slide-active.summer {
  box-shadow: 0 6px 20px rgba(210, 220, 233, 0.6);
}
.select .swiper-slide-active.autumn {
  box-shadow: 0 6px 20px rgba(203, 172, 137, 0.25);
}
.select .swiper-slide-active.winter {
  box-shadow: 0 6px 20px rgba(216, 233, 236, 0.6);
}
.select .swiper-pagination-bullet {
  width: 1rem;
  height: 1rem;
}
.select .swiper-pagination-bullet-active {
  transition: all 0.4s cubic-bezier(0.56, 0, 0.07, 1.01);
  background: #5D4743;
}

.deco {
  background: #EDEDED;
  height: 100dvh;
  position: relative;
  min-height: 50rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  position: relative;
}
.deco-box {
  margin: 0 1.6rem;
  box-sizing: border-box;
  border-radius: 1.4rem;
  flex: 1;
  padding: 1rem;
  position: relative;
}
.deco-box.spring {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgba(255, 227, 227, 0.6823529412) 100%), url("../image/main/visaul_bg.jpg") 50% 50%/cover no-repeat;
}
.deco-box.summer {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgba(227, 244, 255, 0.6823529412) 100%), url("../image/main/visaul_bg.jpg") 50% 50%/cover no-repeat;
}
.deco-box.autumn {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgba(255, 238, 220, 0.6823529412) 100%), url("../image/main/visaul_bg.jpg") 50% 50%/cover no-repeat;
}
.deco-box.winter {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgba(216, 230, 232, 0.6823529412) 100%), url("../image/main/visaul_bg.jpg") 50% 50%/cover no-repeat;
}
.deco-box .deco-txt {
  font-family: "NanumMyeongjo";
  font-size: 1.4rem;
  color: #544D47;
  font-weight: 300;
  transition: all 0.4s cubic-bezier(0.56, 0, 0.07, 1.01);
  line-height: 1.8;
  text-align: center;
  color: #9E8E81;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  width: 100%;
}

.last {
  height: 100dvh;
  position: relative;
  min-height: 50rem;
}
.last.white {
  background: #EDEDED;
}
.last.white .company-page {
  display: none;
}
.last.white .ending {
  height: 100%;
  display: block;
}
.last.white .ending .last-content {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  align-items: center;
  justify-content: center;
  height: calc(100% - 12.6rem);
}
.last.white .ending .card {
  width: calc(100% - 13rem);
  background: url("../image/main/visaul_bg.jpg") 50% 50%/cover no-repeat;
  margin: 0 auto;
  border-radius: 1.4rem;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.15);
  height: calc(100% - 14rem);
  position: relative;
}
.last.white .ending .card p {
  position: absolute;
  left: 50%;
  top: 3rem;
  transform: translate(-50%, 0);
}
.last.white .ending .last-btn .share {
  flex: 0.5rem;
  background: #9E8E81;
}
.last.white .ending .last-btn .solvek {
  flex: 0.5rem;
  background: #544D47;
}
.last.black {
  background: #141414;
}
.last.black .ending {
  display: none;
}
.last.black .first {
  color: #fff;
}
.last.black .header {
  background: #000;
}
.last.black .back {
  background: url("../image/icon/arrow_w.png") 50% 50%/2rem no-repeat;
}
.last.black .company-page {
  display: flex;
  flex-direction: column;
  height: calc(100% - 12.6rem);
  padding-top: 1.6rem;
  box-sizing: border-box;
  background: #000;
}
.last.black .company-page .video {
  min-height: 30rem;
  height: 50vh;
}
.last.black .company-page .video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.last.black .company-page .hompage {
  flex: 1;
  padding: 0 1.6rem;
  box-sizing: border-box;
}
.last.black .company-page .hompage .txt-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.6rem;
}
.last.black .company-page .infortxt p {
  color: #fff;
  font-size: 1.4rem;
  font-family: "NanumSquare";
  line-height: 3rem;
  text-align: center;
  text-transform: uppercase;
}
.last.black .company-page .button {
  background-color: #9E8E81;
}
.last .f-16 {
  line-height: 1.8;
}/*# sourceMappingURL=style.css.map */